
* {
    box-sizing: border-box;
}

body { 
    margin: 0;
}
body {
	font-family:Roboto;
	overflow-x:hidden;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display:block;
}

/* Enter your Styles below! */




/* Media Queries for you! */
@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}